/* cita - estilos en index.css */
.cita {
  border-radius: 1rem !important;
  border-bottom: none !important;
}

.cita button.button.eliminar,
.cita button.button.eliminar:hover {
  background-color: #c10059 !important;
  color: white !important;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 1rem;
}
