.formulario {
  display: flex;
  flex-direction: column;
}

.formulario label {
  display: block;
  margin-bottom: 6px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.formulario input[type="text"],
.formulario input[type="date"],
.formulario input[type="time"],
.formulario textarea {
  margin-bottom: 16px;
  padding: 12px 14px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  width: 100%;
  background: white;
  color: #aaa;
}

.formulario input[type="date"],
.formulario input[type="time"] {
  height: 46px;
  color: #333;
}

.formulario textarea {
  height: 100px;
  resize: vertical;
  margin-bottom: 16px;
  color: #333;
}

button {
  box-shadow: none;
  outline: none;
}

.formulario button {
  background-color: #00bcd4;
  border: none;
  outline: none;
  padding: 14px;
  color: white;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  display: block;
}

.formulario button:hover {
  background-color: #0097a7;
}
